# This file contains all the development requirements for linting.

# Copies prod requirements
-r requirements.txt

# Base tools
isort
pre-commit

# Linting requirements
-r requirements-linting.txt

# Used for graphical testing of the navigation system.
matplotlib
